/*Extra small devices(phones, 600px and down)*/
@media only screen and (min-width: 200px) {
    
    .DetailContainerCard{
    
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-image:url('../../images/107018-huellas-de-perro.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
     }

     .container{
       
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255,0.5);
        
    }

    .Detail{
        width: 100%;
        height: auto;
        flex-direction: column;
        color:aliceblue;
        background-color: rgba(10, 10, 10, 0.687);
    
       
    }

    .img {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .img img{
        height: auto;
        width: 100%;
    }

    .titleDetail {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    
    .titleDet {
      color: rgb(214, 214, 208);
      text-decoration: underline;
     
    }
    
    .textDetail {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    
    .textDetail h2 {
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Fredoka One', sans-serif;
      color:rgb(210, 18, 18)
    }
  
    .textDetail span{
      color:rgb(255, 255, 255)
    }
    
   


}

@media only screen and (min-width: 600px) {
   

   

    .Detail{
        width: 100%;
        height: auto;
        flex-direction: column;
        color:aliceblue;
        background-color: rgba(10, 10, 10, 0.687);
    }

    .img{
      height: auto;
      width: 100%;
    }

   

    .textDetail h2 {
      text-align: center;
      margin: 5px;
      font-size: 1rem;
      font-family: 'Fredoka One', sans-serif;
      color:rgb(210, 18, 18)
    }




}

/*Extra large devices(large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {

  .DetailContainerCard{
    max-width: 100vw;
    max-height: 100vh;
  }

  .container{
       
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255,0.5);
    
}
 

    .Detail{
        width: 20%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color:aliceblue;
        background-color: rgba(10, 10, 10, 0.687);
        text-align: center;
    }

    .img img{
       width: 100%;
        height: auto
    }

}