
@media only screen and (min-width: 200px) {

  /* Estilos para el contenedor de la barra de búsqueda */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px; /* Espacio superior para separar de otros elementos */
  padding-bottom: 10px;
  background-image: linear-gradient(to right top, #6d361a, #91501e, #b26d1e, #d18e1a, #ebb212);
  width: 100%;
}

.search-bar-None{
  display: none;
}

/* Estilos para el campo de entrada de texto */
.search-input {
  width: 120px;
  padding: 3px;
  font-size: 16px;
  height: 17px;
  border: 3px solid #EBB212;
  outline: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-radius: 5px;
}

/* Estilos para el botón de búsqueda */
.search-button {
  background-color: #EBB212;
  color: white; /* Color de texto blanco */
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 3px 8px;
  border: 3px solid #EBB212;
  border-left: 0px;
  font-size: 16px;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Estilo para el botón cuando se coloca el cursor sobre él */
.search-button:hover {
  background-color: #ddd96e; /* Color de fondo azul más oscuro en el hover */
  border: 3px solid #ddd96e;
  border-left: 0px;
}

  }
  
  @media only screen and (min-width: 600px) {

    .search-input {
      width: 200px;
      border: 3px solid #EBB212;
      padding: 6.5px;
    }

    .search-button {
 
      padding: 6px 16px;
      border: 3px solid #EBB212;
    
    }

    
    
  }
  
  /*Extra large devices(large laptops and desktops, 1200px and up)*/
  @media only screen and (min-width: 1200px) {
     
    
  
  }


  